body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,212,255,1) 100%);
}
.rootRow{
    min-height: 100vh;
}
#welcome{
    background:#fff;
    max-width:700px;
    margin:auto;
}
#email{
    max-width:300px;
}

#stateError, #districtError{
    display:none;
}