body{
    background: url('/images/vaccine-bg.jpg') no-repeat;
    background-size:cover;
}
body:after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(4px);
    opacity: 0.9;
    background: rgba(0,212,255,1);
}
.rootRow{
    min-height: 100vh;
}
#welcome{
    background:#fff;
    max-width:700px;
    margin:auto;
}
#email{
    max-width:300px;
}
#stateError, #districtError{
    display:none;
}
/* .btn>[data-icon]{
    margin
} */